@import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');

.app {
	text-align: center;
	position: relative;
	top: 8rem;
}

body {
	background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
	background-repeat: no-repeat;
}

h2 {
	color: white;
}

.title {
	font-family: 'Monofett', cursive;
	font-size: 88px;
	color: white;
	margin-bottom: 10px;
}

.inputForm {
	width: 300px;
	outline: none;
	padding: 1rem;
	background-color: transparent;
	border: 1px solid white;
	border-radius: 10px;
	color: white;
	font-size: 18px;
	transition: ease-out 0.2s;
}
.inputForm:focus {
	background-color: white;
	color: gray;
}

.inputForm:hover {
	box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
		rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

::placeholder {
	color: white;
}

.inputForm:focus::-webkit-input-placeholder {
	color: gray;
}

.button {
	padding: 1rem;
	font-size: 18px;
	padding: 1rem;
	border: 1px solid rgb(85, 85, 85);
	border-radius: 10px;
	margin-left: 10px;
	background-color: rgb(255, 102, 0);
	color: white;
}

.button:hover {
	background-color: rgb(235, 96, 4);
}
